@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fc4508;
  border-radius: 50px;
}
